<?xml version="1.0" encoding="UTF-8"?>
<values>

	<URL>qa1.edge.regiongold.com/</URL>

	<!-- <NUMOFTHREADS>1</NUMOFTHREADS> -->
	<!-- <IPPORT1>128.0.0.1:19457</IPPORT1> -->
	<!-- <IPPORT2>129.0.0.1:4726</IPPORT2> -->
	<!-- <BROWSER1>IosSafari</BROWSER1> -->
	<!-- <BROWSER2>MacSafari</BROWSER2> -->

	<!-- <BROWSER2>WindowsChrome</BROWSER2> -->

	<!-- <NUMOFTHREADS>1</NUMOFTHREADS> -->
	<!-- <IPPORT1>128.0.0.1:4726</IPPORT1> -->
	<!-- <IPPORT2>129.0.0.1:4728</IPPORT2> -->
	<!-- <IPPORT3>130.0.0.1:19457</IPPORT3> -->
	<!-- <IPPORT4>132.0.0.1:19458</IPPORT4> -->
	<!-- <IPPORT5>134.0.0.1:19458</IPPORT5> -->
	<!-- <IPPORT6>135.0.0.1:19458</IPPORT6> -->
	<!-- <IPPORT7>136.0.0.1:19458</IPPORT7> -->
	<!-- <IPPORT8>137.0.0.1:19458</IPPORT8> -->
	<!-- <IPPORT9>131.0.0.1:19458</IPPORT9> -->

	<!-- <BROWSER1>IosSafari</BROWSER1> -->
	<!-- <BROWSER2>AndroidChrome-SamsungGalaxyTabS7</BROWSER2> -->
	<!-- <BROWSER3>AndroidChrome-GooglePixel</BROWSER3> -->
	<!-- <BROWSER4>WindowsChrome</BROWSER4> -->
	<!-- <BROWSER5>Firefox</BROWSER5> -->
	<!-- <BROWSER6>MacChrome</BROWSER6> -->
	<!-- <BROWSER7>WindowsEdge</BROWSER7> -->
	<!-- <BROWSER8>MacSafari</BROWSER8> -->
	<!-- <BROWSER9>IosSafari</BROWSER9> -->


	<NUMOFTHREADS>1</NUMOFTHREADS>
	
	<IPPORT1>127.0.0.1:4726</IPPORT1>
	<IPPORT2>129.0.0.1:4728</IPPORT2>
	<IPPORT3>130.0.0.1:19457</IPPORT3>
	<IPPORT4>132.0.0.1:19458</IPPORT4>
	<IPPORT5>134.0.0.1:19458</IPPORT5>
	<IPPORT6>135.0.0.1:19458</IPPORT6>
	<IPPORT7>136.0.0.1:19458</IPPORT7>
	<IPPORT8>137.0.0.1:19458</IPPORT8>
	<IPPORT9>131.0.0.1:19458</IPPORT9>

	<BROWSER4>AndroidChrome-SamsungGalaxyS8</BROWSER4>
    <BROWSER2>AndroidChrome-SamsungGalaxyTabS7</BROWSER2>
    <BROWSER3>AndroidChrome-GooglePixel</BROWSER3>
	<BROWSER1>WindowsChrome</BROWSER1>
	<BROWSER5>Firefox</BROWSER5>
	<BROWSER6>MacChrome</BROWSER6>
	<BROWSER7>WindowsEdge</BROWSER7>
	<BROWSER8>MacSafari</BROWSER8>
	<BROWSER9>WindowsChrome</BROWSER9>


	<GRIDFILES_WINDOWS>GridFiles</GRIDFILES_WINDOWS>
	<GRIDFILES_LINUX>GridFiles/linux</GRIDFILES_LINUX>
	<KILL_SCRIPT_WINDOWS>KillBrowserDrivers.bat</KILL_SCRIPT_WINDOWS>
	<KILL_SCRIPT_LINUX>kill_browser_drivers.sh</KILL_SCRIPT_LINUX>

	<SELENIUMSERVER>3.6.0</SELENIUMSERVER>
	<PREREQUISITEDATAJSON>.\TestData\Prerequisite\*.*
	</PREREQUISITEDATAJSON>
	<TESTDATAJSON>.\TestData\TestCases\*.*</TESTDATAJSON>

</values>
